:root {
    --content-height: 698px;
}

.wrapper {
    height: var(--content-height);
    width: 1129px;
    display: flex;
    flex-direction: row;
    margin: 0% auto;
}

.imageContainer {
    width: 431px;
    height: var(--content-height);
    position: relative;
    overflow: hidden;
}

#fernImage {
    height: var(--content-height);
    object-fit: cover;
}

.photoCredit {
    position: absolute;
    bottom: 8px;
    left: 106px;
    color: white;
}

.container {
    display: flex;
    width: var(--content-height);
    height: var(--content-height);
    background-color: aqua;
}